body{
    font-family: 'Shadows Into Light', cursive;
    background-image: url(bk.jpg);
    background-position: center;
    background-size: cover;
}
.heading{
    font-size: 30px;
    border-radius: 5px;
    letter-spacing: 6px;
  }
.bt{
    font-size: larger;
}
canvas{
    border: 1px solid black;
    background-color: white;
}